/*color palette*/
/*
Main Teal Color 
#2cc185
Body Background Color
#e5e5e5

Primary
#2cc185
Success
Info
#41bfed

Warning
#FFDC42
Danger
#F45846


*/


body {
	background-color: #e5e5e5;
}

.navbar {
	background-color: #2cc185;
	color: white;
}

a {
	color: #2cc185;
	font-weight: bold;
}

.panel {
	border-radius: 0;
}
.navbar-default .navbar-nav>li>a,
.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
	color: #ffffff;
	font-weight: bold;
}

/*My Custom Panels, Top Border*/
.border-primary {
	border-top-color: #2cc185;
	border-top-width: 4px;
	border-bottom: none;
	border-left: none;
	border-right: none;
}

.side-border-primary {
	border-left-color: #2cc185;
	border-left-width: 4px;
	border-top: none;
	border-bottom: none;
	border-right: none;
}

.side-border-primary .panel-heading {
	color: #2cc185;
	font-weight: bold;
}

.border-default {}
.border-dark {}
.border-info {}
.border-danger {}
.border-warning {}

/*Full Color Panels*/

.primary-panel {
	background-color: #2cc185;
	color: #ffffff;
}



/*Fonts*/

.heading-font {
	font-weight: bold;
	color: #333333;
}

.teal-font  {
	font-weight: bold;
	color: #2cc185;
}

.dashboard-collapse-button a {
	color: #2cc185;
	font-weight: bold;
	/*text-shadow: 2px #474747;*/
}

.dashboard-collapse-button .panel-heading {
	color: #2cc185;
	font-weight: bold;
}

/*.dashboard-collapse-button {
	border-radius-top-left: 15px;
	border-radius-bottom-right: 15px;
	border-radius-top-right: 50px;
	border-radius-bottom-left: 50px;
}*/

/*BUTTON COLORS*/

.btn-danger {
	background-color: #F45846;
}

.btn-warning {
	background-color: #FFDC42;
}

.welcome {
	margin-top: 100px;

}

.welcomeabout {
	margin-top: 100px;
	margin-bottom: 100px;
}

.gradient {
	  background: linear-gradient(to right, #359EAD
 , #D4F2E6);

}
